/* ----------Login---------- */

body {
    font-family: Arial, sans-serif;
    background-color: rgba(36, 142, 182, 0.7) !important; /* Cor azul mais transparente */
}

.img-fluid {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 1000;
    width: 34%;
    height: 100px; /* Altura do rodapé */
  }

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-form {
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4); /* Cor branca mais transparente */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group .show-password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
