/* ----------Faixa na tela---------- */
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  
  .terco-da-tela {
    width: 33.33%; /* Define a largura para 33.33% da largura da tela */
    background-color: #248EB6; /* Cor de fundo para o terço da tela */
    height: 100%; /* Ocupa toda a altura da tela */
    float: left; /* Faz com que a div fique à esquerda para ocupar o espaço horizontalmente */
  }
  
  .img-fluid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34%;
    height: 100px; /* Altura do rodapé */
  }

  .selecao .botao .btn-light{
    border: 5px solid red;
  }
