footer {
    margin-top: 30px;
    height: 100px;
    padding: 0 40px;
}

footer .dados {
    text-align: center;
    padding: 20px 0;
    text-decoration:none;
}

footer .dados a {
    text-decoration:none;    
}
footer .dados a:hover {
    color: red;
}
.suporte svg {
    margin-right: 5px;
}