/* ----------Cadastro de bolsa---------- */
.selecao{
    padding-left: 15px;
}

.formulario label {
    margin-top: 14px;
    display: block;
    margin-bottom: 10px;
}

.formulario button {
    margin-top: 30px;

}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.apresentacao h2 {
    font-size: 40px;
    margin-bottom: 12px;
    color: #248EB6;
    font-weight: bold
  }

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* ----------Rodapé---------- */

