/* ----------Tabela---------- */ 
  
.CAO{
  border-right: 1px solid black;

}
.CAO h2, .GATO h2 {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 40px;
  margin-bottom: 12px;
  color: #248EB6;
  font-weight: bold;
}
.subTitulos, .conteudo {
  display: inline-flex;
  text-align: center;
  padding: 20px;
}

.subTitulos {  
  font-size: 20px;
  margin-bottom: 12px;
  color: #248EB6;
  font-weight: bold;
  font-style: italic;
}

.btn.btn-primary {
  color: #fff !important;
  background-color: #248EB6;
  border-radius: 30px;
  padding: 8px 30px !important;

} 

/* Ícone */

.bi-plus-circle-fill {
  color: green;
}

.bi-dash-circle-fill {
  color: red;
}