/* todo codigo css relacionado ao header */
/* ----------Menu---------- */
.container-fluid {
    display: flex;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: 8vh;
    font-size: 18px;
    justify-content: center;
  }
  
  .container-fluid .navbar-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .container-fluid .navbar-collapse a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }
  
  .container-fluid .navbar-collapse a.current {
    color: #248EB6;
  
  }
  
  .container-fluid .navbar-collapse ul {
    display: flex;
    margin-left: 56px;
  }
  
  .container-fluid .navbar-collapse li {
    list-style-type: none;
    padding: 0 30px;
  }
  
  .navbar-nav .login {
    color: #fff !important;
    background-color: #248EB6;
    border-radius: 30px;
    padding: 8px 30px !important;
  }