<!DOCTYPE html>
<html>

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>IntegraVet - Contatos</title>
    <link href="css/contatos.css" rel="stylesheet" type="text/css" />
    <link href="../cssPadrao/header.css" rel="stylesheet" type="text/css" />
    <link href="../cssPadrao/geral.css" rel="stylesheet" type="text/css" />    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <script defer="defer" src="../jsPadrao/menu.js"></script>

</head>
<body>
    <div class="bg-light">
        <div class="container menu">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="../tutores/Default.html"><img src="../imagens/Logo_IntegraVET.png" alt="Logo escrito IntegraVet"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="Default.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Contatos.html">Contatos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="SaibaMais.html">Saiba Mais</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav login" aling="text-rigt">
                                    <li class="nav-item">
                                        <a class="nav-link active login" aria-current="page" href="../PrincipalPadrao/Login.html">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
    
                </div>
            </div>
        </div>
    </div>

    <div class="container introducao mt-5">
        <div class="row apresentacao">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="col-12 mb-3">
                    <h1>Seja um Hemocentro Cadastrado!</h1>
                </div>
                <div class="col-12 mb-4">
                    <h3>Integração e Incentivo a Doação Sanguínea para Cães e Gatos.</h3>
                </div>
                <div class="col-12">
                    <span>Encontre instituições cadastradas e agende a doação de sangue do seu pet.<br>
                        Seu pet pode salvar vidas!</span>
                </div>
                <div class="col-12 mt-4">
                    <span>Possui estoque de bolsas de sangue? Atua na área de transfusão de sangue animal?<br>
                        Clique em "Acessar" e cadastre-se para acessar nossos recursos.</span>
                </div>
                <div class="col-12 mt-3">
                    <a href="../PrincipalPadrao/Cadastro.php" class="button__apresentacao">Acessar</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="apresentacao__image">
                    <img src="../imagens/imagem_apresentacao1.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row titulo">
            <div class="col-12 text-center">
                <h1>Faça a diferença hoje. Entre em contato com uma instituição!</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row apresentacao">            
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 filtro">
                <label for="animal">Procedimento</label>
                <select id="animal" name="animal">
                    <option value="" selected disabled>Selecione o tipo</option>
                    <option value="gato">Banco de Sangue</option>
                    <option value="cachorro">Coleta de Sangue</option>
                    <option value="cachorro">Estoque de Bolsa</option>
                    <option value="cachorro">Transfusão</option>
                </select>                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 filtro">
                <label for="componente">Componente</label>
                <select id="componente" name="componente">
                    <option value="" selected disabled>Selecione o componente</option>                    
                    <option value="concentrado_hemacias">Concentrado Hemácias</option>
                    <option value="plaquetas">Plaquetas</option>
                    <option value="plasmas">Plasmas</option>
                    <option value="sangue_total">Sangue Total</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 filtro">
                <label for="componente">Estado  </label>
                <select id="componente" name="componente">
                    <option value="" selected disabled>Selecione o estado</option>                    
                    <option value="SP">São Paulo</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="MG">Minas Gerais</option>         
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 filtro">
                <label for="componente">Cidade</label>
                <select id="componente" name="componente">
                    <option value="" selected disabled>Selecione a cidade</option>                    
                    <option value="SP">São Paulo</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="ES">Vitória</option>
                    <option value="MG">Belo Horizonte</option>         
                </select>
            </div>

            <div class="botao col-12 text-center mt-4">
                <a class="btn btn-primary" aria-current="page" href="">Buscar</a>
            </div>            
        </div>        
    </div>
    <div class="container mt-3">
        <div class="row lista text-center">            
            <div class="col-3 contato">
                <div class="card-body">
                  <h5 class="card-title">Clínica XPTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Banco de Sangue</h6>
                  <p class="card-text">Telefone: 11 9 9999-9999</p>
                  <p class="card-text">WhatsApp: 11999605159</p>
                  <span class="card-text">Endereço: Rua Maria Costa Nº 200 Bairro: Logo ali</span>
                </div>
            </div>
            <div class="col-3 contato meio">
                <div class="card-body">
                  <h5 class="card-title">Clínica XPTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Coleta de Sangue</h6>
                  <p class="card-text">Telefone: 11 9 9999-9999</p>
                  <p class="card-text">WhatsApp: 11999605159</p>
                  <span class="card-text">Endereço: Rua Maria Costa Nº 200 Bairro: Logo ali</span>
                </div>
            </div>
            <div class="col-3 contato">
                <div class="card-body">
                  <h5 class="card-title">Clínica XPTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Transfusão</h6>
                  <p class="card-text">Telefone: 11 9 9999-9999</p>
                  <p class="card-text">WhatsApp: 11999605159</p>
                  <span class="card-text">Endereço: Rua Maria Costa Nº 200 Bairro: Logo ali</span>
                </div>
            </div>
        </div>
        <div class="row lista text-center mt-3">            
            <div class="col-3 contato">
                <div class="card-body">
                  <h5 class="card-title">Clínica XPTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Banco de Sangue</h6>
                  <p class="card-text">Telefone: 11 9 9999-9999</p>
                  <p class="card-text">WhatsApp: 11999605159</p>
                  <span class="card-text">Endereço: Rua Maria Costa Nº 200 Bairro: Logo ali</span>
                </div>
            </div>
            <div class="col-3 contato">
                <div class="card-body">
                  <h5 class="card-title">Clínica XPTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Coleta de Sangue</h6>
                  <p class="card-text">Telefone: 11 9 9999-9999</p>
                  <p class="card-text">WhatsApp: 11999605159</p>
                  <span class="card-text">Endereço: Rua Maria Costa Nº 200 Bairro: Logo ali</span>
                </div>
            </div>
            <div class="col-3 contato">
                <div class="card-body">
                  <h5 class="card-title">Clínica XPTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Transfusão</h6>
                  <p class="card-text">Telefone: 11 9 9999-9999</p>
                  <p class="card-text">WhatsApp: 11999605159</p>
                  <span class="card-text">Endereço: Rua Maria Costa Nº 200 Bairro: Logo ali</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>