/* ----------Bloco de Texto---------- */
.apresentacao h1 {
  font-size: 58px;
  margin-bottom: 12px;
  color: #248EB6;
}

.apresentacao span {
  font-size: 17px;
  text-align: left;
}

.apresentacao h3 {
  display: block;
  font-size: 1.35em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.apresentacao__image img {
  object-fit: contain;
  max-width: 100%;
}

.button__apresentacao {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  margin-top: 10px;
}

.button__apresentacao:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #248EB6;
  border-radius: 10rem;
  z-index: -2;
}

.button__apresentacao:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #D3ECF5;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button__apresentacao:hover {
  color: black;
}

.button__apresentacao:hover:before {
  width: 100%;
}
/* ----------Campanha---------- */

.title_campanhas {
  text-align: center;
}

.campanhas .campanha-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campanhas .campanha-card .campanha-card__img {
  width: 326px;
  height: 326px;
}

.campanha-card__img img {
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 100%;
}

.campanha-card__action {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.campanha-card__content h3 {
  margin-top: 10px;
  text-align: center;
}

.campanha-card__content p {
  font-size: 17px;
  text-align: center;
}
